body,
html {
  background-color: #2dbf83 !important;
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  max-width: 35vw;
  max-height: 35vw;
  width: auto;
  height: auto;
}

a:visited {
  color: #fff;
  text-decoration-color: #fff;
  -moz-text-decoration-color: #fff;
}

p,
a {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: #fff;
}

.heading {
  font-size: 1.2vw;
  margin-top: 10vh;
}

.message {
  margin-top: -20px;
  font-size: 3vw;
}

.hint {
  margin-top: -50px;
  font-size: 1.75vw;
}
